
/* Grid */

.grid-container {
    position: absolute;
    clip-path: inset(1rem 1rem 1rem 1rem);
    margin: 3rem 4rem;
    padding: 4rem 4rem;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(90, 90, 90);
    border-radius: 4px;
    
    display: grid;
    grid-template-columns: 8rem 8rem 8rem 8rem;
    grid-template-rows: 8rem 8rem 8rem 8rem;
    justify-items: center;
}

/* body */
button {
    padding: 5px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #24201f;
    border: none;
    box-shadow: 1px 4px #a8abb2;
}

button:hover {
    background-color: #746b6e;
}

button:active {
    background-color: #746b6e;
    box-shadow: 0px 2px #a8abb2;
    transform: translateY(3px);
}

p {
    margin: 1rem;
}


/* Triangles */
/* left column */

.tri1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 240px 240px 0 0;
    border-color: #9da7ad transparent transparent transparent;
}

.tri2 {
    position: absolute;
    left: -5.3rem;
    top: -.6rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 325px 325px 325px 0;
    border-color: transparent #24201f transparent transparent;
}

.tri3 {
    position: absolute;
    left: 0;
    top: 25rem;
    bottom: 0;
	width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 0 120px 120px;
    border-color: transparent transparent transparent #d2ab4c;
}

.tri4 {
    position: absolute;
    left: 0rem;
    top: 32.5rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 120px 120px 120px;
    border-color: transparent transparent #dcd5cd transparent;
}

/* right column */

.tri5 {
    position: absolute;
    left: 15rem;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 175px 225px 0 175px;
    border-color: #746b6e transparent transparent transparent;
}

.tri6 {
    position: absolute;
    left: 15rem;
    top: -2.4rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 175px 0 175px 225px;
    border-color: transparent transparent transparent #cec7be;
    
}

.tri7 {
    position: absolute;
    left: 15rem;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 310px 400px 375px 0;
    border-color: transparent #b81704 transparent transparent;
}

.tri8 {
    position: absolute;
    left: 15rem;
    top: 19.35rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 330.5px 0 0 352.5px;
    border-color: transparent transparent transparent #a8abb2;
}